*{
	font-family: helvetica;
}

h1{
	font-family: courier;			
	text-align: center;
}

button{
	text-align: center;
	width:300px;
}

.centerButtonDiv{
	/*text-align: center;*/
	margin: auto;
	width: 300px;
}

.coolLookingButton{
	background: #3673c5;
	color: white;
	
	border: 1px solid black;
	padding: 10px;
	margin:10px;
}

.coolLookingButton:hover{
	background: #367363;
	color: white;
	
	border: 1px solid black;
	padding: 10px;
	margin:10px;
}

.myTable{
	border: 1px solid black;
	margin: auto;
}

.myTable td,th{
	border: 1px solid black;
	width: 200px;
}
